<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link href="{{constant('shopping\\Bootstrap::APP_URL')}}css/shopping.css" rel="stylesheet" type="text/css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    </head>
    <body>
        <div class="row">
            <div class="col-12">
            <div class="row">
                <div class="header">
                <h3>SHOPPING<span>ー商品リストー</span></h3>
            </div>
            {# <h1>こんにちは{{user_name}}さん</h1> #}
            <div class="side">
                <p>MENU</p>
                {% include 'category_menu.html.twig' %}
            </div>
            
                {% for value in dataArr %}
                <div id="col-sm-12 col-lg-4 mb-3">
                    <div class="card">
                        <ul class="list-inline">
                        {# http://localhost/DT/shopping/ #}
                            {# 小数点第0まで表示、小数点は「.」で表示、1000単位を「,」で区切る #}
                            {# 「&yen;」で￥を表示(cssのフォントスタイルによってはバックスラッシュが「￥」にならない。その対応) #}
                            <li class="image list-inline-item"><a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}detail.php?item_id={{value.item_id}}"><img src="{{constant('shopping\\Bootstrap::ENTRY_URL')}}images/{{value.image}}" alt="{{value.item_name}}" , size: '300x200' class="card-img-top" /></a></li>
                            <li class="name list-inline-item"><a class="card-title" href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}detail.php?item_id={{value.item_id}}">{{value.item_name}}</a></li>
                            <li class="price list-inline-item">&yen;{{value.price|number_format(0, '.', ',')}}</li>
                            <li class="detail list-inline-item"><a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}detail.php?item_id={{value.item_id}}">詳細</a></li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
        </div>
            </div>
            </div>
        </div>
        {# カテゴリが押された時の挙動を説明 #}
        {# includeはphpのrequire_onceのようなもの #}
    </body>
</html>
